<!DOCTYPE html>
<html>
<head>
    <script src="/javascripts/jquery-3.3.1.min.js">
    </script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<button onclick="location.href='http://localhost:3000/adddish'">add dish</button>
<table cellspacing="10">

    <% var properties = ["name","describe","category","imageURL", "unit", "price", "stock", "resId", "_id"] %>

    <tr bgcolor="aqua">
        <% for(var i=0;i< properties.length;i++){ %>
        <% var property = properties[i] %>
        <th>
            <%=property%>
        </th>
        <%}%>
    </tr>

    <tbody id="J_TbData" bgcolor="#ffebff">
    </tbody>

    <script>
        $.get('/data/dishlist',function(data,status){
            dishes = data.data;
            //第一种：动态创建表格的方式，使用拼接html的方式 （推荐）
            var html = "";
            for( var i = 0; i < dishes.length; i++ ) {
                var dish = dishes[i];
                html += "<tr>";
                <% for(var j=0;j< properties.length;j++){ %>
                <% var property = properties[j] %>
                html +=     "<td>" + dish.<%= property %> + "</td>"
                <%}%>
                html += "<td>" + "<button onclick=\"editDish(\'"+  dish._id + "\')\">edit</button>" + "</td>";
                html += "<td>" + "<button onclick=\"deleteDish(\'"+  dish._id + "\')\">delete</button>" + "</td>";
                html += "</tr>";
            }
            $("#J_TbData").html(html);
        });

        function editDish(dishid) {
            console.log('editdish',dishid);
            self.location.href = "/editdish/" + dishid
        }
        function deleteDish(dishid) {
            console.log('deletedish:',dishid);
            $.get('/data/deletedish/'+dishid,function(data,status){
                //第一种：动态创建表格的方式，使用拼接html的方式 （推荐）
                self.location.reload()
            });
        }
    </script>

</table>

</body>
</html>
